.shopping-cart {
  margin-top: 20px;
}

.productLists {
  width: 50%;
  margin: auto;
}

.productLists ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.productLists ul li {
  margin: 16px 0px;
  height: 128px;
  background-color: #ffffff;
}
