.productLists {
  width: 50%;
  margin: auto;
}

.productLists ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.productLists ul li {
  border: 1px solid #ccc;
  margin: 16px 0px;
  border-radius: 20px;
  height: 128px;
  box-shadow: 0 0 16px 0 rgba(40, 44, 181, 0.16);
  background-color: #ffffff;
}

@media (max-width: 620px) {
  .productLists ul li {
    height: 250px;
  }
}