.carousel {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding-top: 12px;
}

.carousel-frame {
  width: 100%;
  height: calc(100% - 32px);
  border-radius: 18px;
  overflow: hidden;
}

.carousel-content {
  height: 100%;
  display: flex;
}

.carousel-item {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-next-btn {
  display: flex;
  position: absolute;
  top: 46%;
  height: 22px;
  width: 22px;
  justify-content: center;
  background-color: #000;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  transition: transform ease-in 0.1s;
  right: 6px;
}

.carousel-next-btn:hover {
  transform: scale(1.1);
}

.carousel-next-btn img {
  height: 11px;
  margin-left: -3px;
  transform: translateX(2px);
}

.carousel-next-btn img:focus {
  outline: 0;
}

.carousel-indicators {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-indicators-item {
  padding: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background: #a0a0a0;
}

.carousel-indicators-item.active {
  background: #000;
}

@media (max-width: 568px) {
  /* .carousel {
    width: 12rem;
    height: 12rem;
  } */
}
