.productDetailsContainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: auto;
  align-items: center;
  height: 450px;
  text-align: left;
}

.productImage {
  height: 80%;
  width: 40%;
}

.productImage img {
  height: 100%;
  border-radius: 20px;
}

.productDetails {
  text-align: left;
  height: 80%;
  margin: 0px 16px;
  width: 50%;
}

.productDetails p {
  margin: 16px 0px;
}

.quantityContainer {
  margin-top: 16px;
}

.valueBtn {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

#increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

.number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

.valueBtn:hover {
  cursor: pointer;
}

.CartButton {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 16px 0;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.CartButton svg {
  padding: 0;
  padding-right: 8px;
}
