.NavigationItems {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
}

.NavigationItems a {
  text-decoration: none;
  color: black;
}

.NavigationItems p {
  border: solid 1px #707070;
}

.NavigationItems h2 {
  padding: 16px;
}

.NavigationItemsList {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 16px;
}
